<ul class="sidebar navbar-nav">
  <li class="nav-item " [class.active]="homeLink.classList.contains('active')">
    <a
      class="nav-link"
      #homeLink
      routerLink="/dashboard"
      routerLinkActive="active"
    >
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <!-- {{loggedInUser.role}} -->
  <li
    class="nav-item "
    [class.active]="importlink.classList.contains('active')"
    *ngIf="loggedInUser.role === 'admin'"
  >
    <a
      class="nav-link"
      #importlink
      routerLink="/import"
      routerLinkActive="active"
    >
      <i class="fa fa-table"></i>
      <span>Import Data</span>
    </a>
  </li>
  <li class="nav-item " [class.active]="userlink.classList.contains('active')">
    <a class="nav-link" #userlink routerLink="/users" routerLinkActive="active">
      <i class="fa fa-user"></i>
      <span>Customers</span>
    </a>
  </li>

  <li class="nav-item " [class.active]="meterlink.classList.contains('active')">
    <a
      class="nav-link"
      #meterlink
      routerLink="/meter"
      routerLinkActive="active"
    >
      <i class="fa fa-square"></i>
      <span>All Meter</span>
    </a>
  </li>

  <li class="nav-item " [class.active]="heatmeterlink.classList.contains('active')">
    <a
      class="nav-link"
      #heatmeterlink
      href="/meter/filter/heat"
      routerLinkActive="active"
    >
      <i class="fa fa-square"></i>
      <span>Heat Meter</span>
    </a>
  </li>
  <li class="nav-item " [class.active]="watermeterlink.classList.contains('active')">
    <a
      class="nav-link"
      #watermeterlink
      href="/meter/filter/water"
      routerLinkActive="active"
    >
      <i class="fa fa-square"></i>
      <span>Water Meter</span>
    </a>
  </li>
  <li class="nav-item " [class.active]="electicitymeterlink.classList.contains('active')">
    <a
      class="nav-link"
      #electicitymeterlink
      href="/meter/filter/electricity"
      routerLinkActive="active"
    >
      <i class="fa fa-square"></i>
      <span>Electricity Meter</span>
    </a>
  </li>
  <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Login Screens:</h6>
            <a class="dropdown-item" href="login.html">Login</a>
            <a class="dropdown-item" href="register.html">Register</a>
            <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Other Pages:</h6>
            <a class="dropdown-item" href="404.html">404 Page</a>
            <a class="dropdown-item" href="blank.html">Blank Page</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
        </li> -->
</ul>
