<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/meter">Meter Details</a>
        </li>
    </ol>

    <!-- <alert></alert>  -->

    <div fxLayout="row">
        <alert></alert>
        <button
            mat-raised-button
            color="primary"
            class="button is-success"
            (click)="addImportNavigate()"
        >
            Import
        </button>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field>
                    <input
                        matInput
                        (keyup)="applyFilter($event.target.value)"
                        placeholder="Filter"
                    />
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <mat-label>Bulk action</mat-label>
                    <mat-select
                        matNativeControl
                        required
                        (change)="bulkAction($event)"
                    >
                        <mat-option value="">Select action</mat-option>
                        <mat-option value="invoice">Invoice selected meter</mat-option>
                        <mat-option value="print">Bill selected with print</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field>
                    <mat-label>Month</mat-label>
                    <mat-select
                        matNativeControl
                        required
                        (selectionChange)="applyMonthFilter($event)"
                    >
                        <mat-option [value]="">Select action</mat-option>
                        <mat-option [value]="month.value" *ngFor="let month of months"> {{month.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <mat-label>Year</mat-label>
                    <mat-select
                        matNativeControl
                        required
                        (selectionChange)="applyYearFilter($event)"
                    >
                    <mat-option [value]="year" *ngFor="let year of years"> {{year}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <hr />
        <div class="example-container mat-elevation-z8">
            <table
                mat-table
                [dataSource]="dataSource"
                matSort
                class="mat-elevation-z8"
            >
                <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
                <ng-container matColumnDef="Select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox
                            (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="
                                selection.hasValue() && !isAllSelected()
                            "
                            [aria-label]="checkboxLabel()"
                        >
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox
                            (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(element) : null"
                            [checked]="selection.isSelected(element)"
                            [aria-label]="checkboxLabel(element)"
                        >
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="MeterSerialNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Meter number
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <a [routerLink]="['/meter/detail', element._id]"
                            >{{ element.MeterSerialNumber }}
                        </a>
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="ReadingTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Last Reading time
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.ReadingTime }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="CustomerName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Customer Name
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.CustomerName }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Meter Type
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.type }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Meter status
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.status }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="meterCondition">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Meter Condition
                    </th>
                    <td mat-cell *matCellDef="let element">OK</td>
                </ng-container>
                <!-- invoice -->
                <ng-container matColumnDef="invoice">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Invoice Created
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.isInvoice; else other_content"
                            >Yes
                        </span>
                        <ng-template #other_content>No</ng-template>
                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Action
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button (click)="createInvoice(element)" [disabled]="element.isInvoice">
                            Invoice
                        </button>
                        <button mat-raised-button (click)="deleteMeter(element)" [disabled]="!element.isInvoice">
                            Delete
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>

            <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
            ></mat-paginator>
        </div>
    </div>
</div>
