<div id="wrapper" class="content">
    <main-nav></main-nav>

    <div class="columns">
        <aside class="column is-2 is-offset-1">
            <user-profile></user-profile>
        </aside>

        <main class="column is-8">
            <notification-message></notification-message>

            <router-outlet></router-outlet>
        </main>
    </div>


    <footer class="footer">
        <p>All rights reserved</p>
    </footer>


    <div class="github-banner" style="z-index: 9999999">
        
        <style>
            .github-corner:hover .octo-arm {
                animation: octocat-wave 560ms ease-in-out
            }
            
            @keyframes octocat-wave {
                0%,
                100% {
                    transform: rotate(0)
                }
                20%,
                60% {
                    transform: rotate(-25deg)
                }
                40%,
                80% {
                    transform: rotate(10deg)
                }
            }
            
            @media (max-width:500px) {
                .github-corner:hover .octo-arm {
                    animation: none
                }
                .github-corner .octo-arm {
                    animation: octocat-wave 560ms ease-in-out
                }
            }
        </style>
    </div>
</div>